# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS-specific files
.DS_Store
Thumbs.db

# Editor metadata
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/*

# sensitive files
*.pem
*.swp

# temporary files
/tmp/*
!/tmp/.gitkeep
